<div style="width:1200px; margin:0 auto; margin-top: 1%" align="center" class="jumbotron" >

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-info">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {% block body %}
        <a style="margin:0 auto; margin-top: 1%" align="center" class="btn btn-warning" href="{{ path('team_index') }}">Retour à la liste</a>
    {% endblock %}
</div>